@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@100;300;400;500;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Limelight&display=swap');/*
    Color Pallet
    green: #55cea2
    yellow: #e5e39a
    orangeCTA: orangered
*/
.main{
    --primary-color: rgb(27, 27, 27);
    --secondary-color: orangered;
}



.main{
    overflow-x: hidden;
}
.landingDiv{
    margin-top: 4rem;
    display: flex;
    width: 100vw;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.banner{
    height: 3rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: flex;
    justify-content: center;
}
.heroImage{
    position: relative;
    width: 100%;
    height: 600px;
    max-height: 90vh;
    aspect-ratio: 3 / 4;
    filter: saturate(2.5);
}
.imageOverlay{
    position:absolute;
    top:0;
    left:0;
    height:0;
    bottom:0;
    width:100%;
    height:100%;
    background:rgba(60, 60, 60, 0.57);
}
.heroTitle{
    font-weight: 100;
    font-family: 'limelight', serif;
    color: white;
    letter-spacing: 2px;
    font-size: 2.5rem;
    z-index: 1;
    width: 100vw;
    height: 3rem;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.heroCTADiv{
    position: absolute;
    width: 100vw;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 3rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.CTAfirst, .CTAsecond{
    border: 2px solid white;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    background-color: rgba(32, 32, 32, 0.64);
    height: 2rem;
    width: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
}
.CTAfirst:hover, .CTAsecond:hover{
    cursor: pointer;
}
.CTAfirst{
    margin-right: 1rem;
}
.CTAsecond{
    margin-left: 1rem;
}
.aboutSection{
    margin-top: 5rem;
    box-shadow: rgba(123, 123, 123, 0.1) 0px 6px 12px -2px, rgba(0, 0, 0, 0.1) 0px 3px 7px -3px;
    
}
/* .aboutParagraph{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    text-indent: 1rem;
    font-size: 1rem;
    line-height: 2rem;
    color: var(--primary-color);
} */


.storeDetailsSection{
    margin-top: 5rem;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr;
}
.storeHoursHeader{
    margin-left: auto;
    margin-right: auto;
    font-weight: 300;
}
.hoursDiv{
    margin-top: 1rem;
    display: flex;
    width: 100%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
}
.dayList, .hoursList{
    font-weight: 300;
    list-style: none;
    line-height: 2rem;
}
.dayLI{
    margin-left: 1rem;
    font-size: 1.25rem;
}
.hoursLI{
    margin-right: 1rem;
    font-size: 1.25rem;
}


.locationDiv{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
}
.address{
    font-size: 1.25rem;
    font-weight: 300;
    margin-left: auto;
    margin-right: auto;
}
.map{
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    width: 90vw;
    max-width: 450px;
    aspect-ratio: 1 1;
    padding: 3px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.spacerDiv{
    height: 7.5rem;
}


/*

    Media Q's :(

*/

