@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@100;300;400;500;700;800&display=swap');
/*
    Color Pallet
    green: #55cea2
    yellow: #e5e39a
    orangeCTA: orangered
*/
.main{
    overflow-x: hidden;
}
.landingDiv{
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    position: relative;
}

.landingImage{
    position: relative;
    width: 100%;
    height: 475px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.63);
}
.landingCTA{
    background-color: transparent;
    border: 1px solid orangered;
    padding: .25rem;
    border-radius: 5px;
    color: orangered;
    font-size: 1rem;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 105px;
    z-index: 1;
}
.CTAlink{
    text-decoration: none;
    color: orangered;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 3px;
    font-weight: 100;
}

.breakfastDiv{
    margin-top: 8rem;
    position: relative;
}
.breakfastHeader{
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: 400;
    font-size: 2rem;
    text-align: center;
}
.pastryImage{
    margin-top: 2rem;
    width: 100%;
    height: 400px;
    position: relative;
    background-color: transparent;
}

.breakfastCTA{
    background-color: transparent;
    border: 4px solid orangered;
    height: 140px;
    aspect-ratio: 1;
    width: min-content;
    border-radius: 50%;
    color: orangered;
    font-size: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 130px;
    z-index: 1;
}
.CTAlink{
    text-decoration: none;
    color: orangered;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 3px;
    font-weight: 100;
}
.rotate{
    animation: rotate 120s linear infinite; 
}

@keyframes rotate{
    to{ transform: rotate(360deg); }
}



.iceCreamDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.iceCreamBanner1, .iceCreamBanner2{
    height: 1rem;
    background-color: #e5e39a;
    border-bottom: .25rem solid #55cea2;
    border-top: .25rem solid #55cea2;
}

.iceCreamBanner1{
    margin-top: 10rem;
}

.iceCreamText{
    font-family: "Bebas Neue", sans-serif;
    width: 50%;
    padding-left: .5rem;
    display: flex;
    flex-direction: column;
}

.iceCreamHeader{
    width: 300px;
    font-weight: 500;
    font-size: 1.7rem;
}

.iceCreamSubheader{
    font-weight: 300;
    font-size: 1.25rem;
    width: 350px;
    
}

.iceCreamImage{
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 160px;
    height: 270px;
    background-color: transparent;
}

.iceCreamCTA{
    background-color: transparent;
    text-decoration: none;
    border: 1px solid orangered;
    padding: .25rem;
    border-radius: 5px;
    color: orangered;
    font-family: "Bebas Neue", sans-serif;
    font-size: 1.25rem;
    font-weight: 400;
    width: 75%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
}


.storeDetailsSection{
    margin-top: 10rem;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr;
}
.storeHoursHeader{
    margin-left: auto;
    margin-right: auto;
    font-weight: 300;
}
.hoursDiv{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.dayList, .hoursList{
    font-weight: 300;
    list-style: none;
    line-height: 2rem;
}
.dayLI{
    margin-left: 1rem;
    font-size: 1.25rem;
}
.hoursLI{
    margin-right: 1rem;
    font-size: 1.25rem;
}


.locationDiv{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
}
.address{
    font-size: 1.25rem;
    font-weight: 300;
    margin-left: auto;
    margin-right: auto;
}
.map{
    margin-left: auto;
    margin-right: auto;
    border: 5px solid #55cea2;
    padding: 3px;
    background-color: #e5e39a;
}


.placeholderDiv{
    height: 30rem;

}